<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2>Sign In</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col">
          <input type="text" id="login" formControlName="username" placeholder="Email or phone">
          <div *ngIf="submitted && f.username.errors">
            <div *ngIf="f.username.errors.required" class="errorMessage">Username is required</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <input type="text" id="password" formControlName="password" placeholder="Password">
          <div *ngIf="submitted && f.password.errors">
            <div *ngIf="f.password.errors.required" class="errorMessage">Password is required</div>
          </div>
        </div>
      </div>
      <input type="submit" class="fadeIn fourth" value="Login">
    </form>
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
  </div>
</div>